@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #000000;

  --color-card:#f0f0f0;

  --color-primary: #1e90ff;
  --color-primary-foreground: #ffffff;

  --color-secondary: #ff69b4;
  --color-secondary-foreground: #ffffff;

  --color-muted: #888888;
  --color-muted-foreground: #ffffff;

  --color-border: #cccccc;

  --radius: 8px;

  --color-highlight: #ffeb3b;
  --color-success: #4caf50;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: "poppins", sans-serif;
  }

  .font-serif {
    font-family: "playfair display", serif;
  }
}