@import "tailwindcss";

:root {
  --color-background: #0f1418;
  --color-foreground: #f0f2ff;

  --color-card: #141a14;

  --color-primary: #20c264;
  --color-primary-foreground: #ffffff;

  --color-secondary: #1f2840;
  --color-secondary-foreground: #20b2a9;

  --color-muted: #252e40;
  --color-muted-foreground: #8a8593;

  --color-border: #242b24;

  --radius: 0.8rem;

  --color-highlight: #f5a725;
  --color-surface: #1b4339;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: "poppins", sans-serif;
  }

  .font-serif {
    font-family: "playfair display", serif;
  }
}

@layer components {
  .glass {
    background-color: color-mix(in srgb, var(--color-surface) 50%, transparent);
    backdrop-filter: blur(10px);
    border: var(--color-border) solid 1px color-mix(in srgb, var(--color-border) 50%, transparent);
  }
}